{% extends 'base.html' %}
{% block content %}
<hr>
<section class="ss_about_main"> <!--===== Section Two Start =====-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="ss_about_img">
                    <img class="img-fluid ss_about1"
                        src="https://stocksales.b-cdn.net/static%20content/assets2/images/about-img1.jpg"
                        alt="team" />
                    <div class="ss_video_img">
                        <img class="img-fluid ss_about2"
                            src="https://stocksales.b-cdn.net/static%20content/assets2/images/about-img2.jpg"
                            alt="team" />
                        <a class="ss_video_popup" rel="external" href="https://www.youtube.com/embed/hNQFjqDvPhA">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <g>
                                    <path d="M477.606,128.055C443.431,68.863,388.251,26.52,322.229,8.83C256.208-8.862,187.25,0.217,128.055,34.394
                                C68.861,68.57,26.52,123.75,8.83,189.772c-17.69,66.021-8.611,134.981,25.564,194.173
                                C68.568,443.137,123.75,485.48,189.771,503.17c22.046,5.908,44.417,8.83,66.646,8.83c44.339,0,88.101-11.629,127.529-34.393
                                c59.192-34.175,101.535-89.355,119.225-155.377C520.862,256.207,511.781,187.249,477.606,128.055z M477.429,315.333
                                c-15.848,59.146-53.78,108.581-106.81,139.197c-53.028,30.617-114.806,38.749-173.952,22.903
                                c-59.147-15.848-108.581-53.78-139.198-106.81c-30.616-53.028-38.749-114.807-22.9-173.954
                                C50.418,137.523,88.35,88.09,141.379,57.472c35.325-20.395,74.524-30.812,114.249-30.812c19.91,0,39.959,2.618,59.702,7.909
                                c59.146,15.848,108.581,53.78,139.197,106.81C485.144,194.408,493.278,256.186,477.429,315.333z" />
                                </g>
                                <g>
                                    <path d="M378.778,231.852l-164.526-94.99c-8.731-5.041-19.155-5.039-27.886-0.001c-8.731,5.04-13.944,14.069-13.944,24.15v189.98
                                c0,10.081,5.212,19.109,13.944,24.15c4.365,2.521,9.152,3.78,13.941,3.78c4.79,0,9.579-1.262,13.944-3.781l164.528-94.989
                                c8.73-5.042,13.941-14.07,13.941-24.151C392.72,245.92,387.508,236.892,378.778,231.852z M365.452,257.074l-164.527,94.989
                                c-0.201,0.117-0.62,0.358-1.236,0c-0.618-0.357-0.618-0.839-0.618-1.071v-189.98c0-0.232,0-0.714,0.618-1.071
                                c0.242-0.14,0.453-0.188,0.633-0.188c0.28,0,0.482,0.117,0.605,0.188l164.526,94.99c0.201,0.116,0.618,0.357,0.618,1.071
                                C366.071,256.716,365.652,256.958,365.452,257.074z" />
                                </g>
                                <g>
                                    <path d="M413.303,134.44c-31.689-40.938-79.326-68.442-130.698-75.461c-7.283-0.997-14.009,4.106-15.006,11.399
                                c-0.995,7.291,4.108,14.009,11.399,15.006c44.512,6.081,85.783,29.909,113.232,65.369c2.626,3.392,6.565,5.168,10.546,5.168
                                c2.849,0,5.72-0.909,8.146-2.789C416.741,148.628,417.807,140.259,413.303,134.44z" />
                                </g>
                            </svg></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="ss_ab_right wow fadeIn" data-wow-delay="0.2s" data-wow-duration="1s">
                    <h3>about us</h3>
                    <h1>Our success which define us who we are</h1>
                    
                    <p>Stocksales.in is India’s 1st AI Based selling platform where we specialize in selling Solar
                        Equipments, Electrical Equipments and Tools and Tackles, Solar Modules, Inverters,
                        Accessories, and Performance Optimizers. We are the best Solar Panels Distributors and Solar
                        Inverters distributors with premium quality distributions services.</p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- service -->
<section class="ss_service_one ss_section_sec_bg spacer_top spacer_bottom"> <!--===== Section Two Start =====-->
    <div class="container-fluid">
        <div class="ss_two">
            <h3 class="ss_h3_center text-center mt-4">Services</h3>
            <h1 class=" text-center">We provide these services</h1>

            <div class="row pt-5">

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="ss_two_sec wow fadeIn" data-wow-delay="0.1s">
                        <img class="img-fluid"
                            src="https://stocksales.b-cdn.net/static%20content/assets2/images/service-icon1.png"
                            alt="image" />
                        <h2>Solar plant Installation assistance</h2>
                        <p>“Expert guidance for efficient solar plant installation.”</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="ss_two_sec wow fadeIn" data-wow-delay="0.2s">
                        <img class="img-fluid"
                            src="https://stocksales.b-cdn.net/static%20content/assets2/images/service-icon2.png"
                            alt="image" />
                        <h2>Strong backup support</h2>
                        <p>Robust backup system ensures data security and quick recovery.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="ss_two_sec wow fadeIn" data-wow-delay="0.3s">
                        <img class="img-fluid"
                            src="https://stocksales.b-cdn.net/static%20content/assets2/images/service-icon3.png"
                            alt="image" />
                        <h2>Lowest prices</h2>
                        <p>Get the best deals with our lowest prices guarantee. Shop smart and save on your favorite
                            products</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="ss_two_sec wow fadeIn" data-wow-delay="0.4s">
                        <img class="img-fluid"
                            src="https://stocksales.b-cdn.net/static%20content/assets2/images/service-icon4.png"
                            alt="image" />
                        <h2>Superior brands</h2>
                        <p>Top-tier brands excel with quality, innovation, reliability, customer satisfaction, and
                            market leadership</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="ss_two_sec wow fadeIn" data-wow-delay="0.1s">
                        <img class="img-fluid"
                            src="https://stocksales.b-cdn.net/static%20content/assets2/images/service-icon5.png"
                            alt="image" />
                        <h2>Excellent Quality Products</h2>
                        <p>Explore our range of excellent quality products designed to meet your needs and exceed
                            your expectations</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="ss_two_sec wow fadeIn" data-wow-delay="0.2s">
                        <img class="img-fluid"
                            src="https://stocksales.b-cdn.net/static%20content/assets2/images/service-icon6.png"
                            alt="image" />
                        <h2>Best Procurement Solutions</h2>
                        <p>Efficient procurement solutions optimize operations, reduce costs, and enhance business
                            performance</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="ss_two_sec wow fadeIn" data-wow-delay="0.3s">
                        <img class="img-fluid"
                            src="https://stocksales.b-cdn.net/static%20content/assets2/images/service-icon7.png"
                            alt="image" />
                        <h2>Products from leading manufacturers</h2>
                        <p>Premium goods from industry-leading manufacturers ensure quality and reliability</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="ss_two_sec wow fadeIn" data-wow-delay="0.4s">
                        <img class="img-fluid"
                            src="https://stocksales.b-cdn.net/static%20content/assets2/images/service-icon8.png"
                            alt="image" />
                        <h2>Qualified consulting & project support</h2>
                        <p>Expert consulting and project support ensure successful implementation and optimal
                            outcomes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service end -->


<!-- why choose us -->
<section class="ss_wchoose_us spacer_top"> <!--===== Section Three Start =====-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-0">
                <div class="ss_box_bg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ss_wchoose_one">
                                <h1>Why choose us</h1>
                                <p style="padding-bottom: 30px;">We are innovative and passionate about the work we
                                    do. We always come up with new
                                    ways to enrich your revenue to greater heights. Extraordinary and High Quality
                                    services: We have a supreme team who works rigorously to grow businesses beyond
                                    client's expectations. We give superior quality products, with best prices, and
                                    fastest delivery options.</p>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="ss_wchoose_one wow fadeIn" data-wow-delay="0.1s" data-wow-duration="2s" ">
                                <img class=" img-fluid" src="https://stocksales.b-cdn.net/static%20content/assets2/images/about-img3.jpg"
                                alt="image" style="border-radius: 10px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- why choose us -->

<!-- partners start -->
<section class="ss_team ss_section_sec_bg spacer_top spacer_bottom"> <!--===== Section Three Start =====-->
    <div class="container-fluid">
        <h3 class="ss_h3_center text-center">our experts</h3>
        <h1 class="text-center mb-5">Our special team</h1>
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-12 offset-lg-0">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="team_main wow fadeIn" data-wow-delay="0.2s" data-wow-duration="1s">
                            <img class="img-fluid" src="https://stocksales.b-cdn.net/static%20content/assets2/images/profile3.png" alt="Image">
                            <div class="team_info">
                                <h2>Mr. Jitender</h2>
                                <p>Managing Director</p>
                            </div>
                            <ul class="social_share">
                                <li>
                                    <a href="https://linkedin.com/jitendersingh23">
                                        <svg fill="#000000" height="800px" width="800px" version="1.1" id="Icons"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"
                                            xml:space="preserve">
                                            <path d="M23,0H9C4,0,0,4,0,9v14c0,5,4,9,9,9h14c5,0,9-4,9-9V9C32,4,28,0,23,0z M12,25c0,0.6-0.4,1-1,1H7c-0.6,0-1-0.4-1-1V13
                                                        c0-0.6,0.4-1,1-1h4c0.6,0,1,0.4,1,1V25z M9,11c-1.7,0-3-1.3-3-3s1.3-3,3-3s3,1.3,3,3S10.7,11,9,11z M26,25c0,0.6-0.4,1-1,1h-3
                                                        c-0.6,0-1-0.4-1-1v-3.5v-1v-2c0-0.8-0.7-1.5-1.5-1.5S18,17.7,18,18.5v2v1V25c0,0.6-0.4,1-1,1h-3c-0.6,0-1-0.4-1-1V13
                                                        c0-0.6,0.4-1,1-1h4c0.3,0,0.5,0.1,0.7,0.3c0.6-0.2,1.2-0.3,1.8-0.3c3,0,5.5,2.5,5.5,5.5V25z" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="team_main wow fadeIn" data-wow-delay="0.3s" data-wow-duration="1s">
                            <img class="img-fluid" src="https://stocksales.b-cdn.net/static%20content/assets2/images/profile1.png" alt="Image">
                            <div class="team_info">
                                <h2>Lalit Dave</h2>
                                <p>Human Resources & Srategic Planning</p>
                            </div>
                            <ul class="social_share">
                                <!-- <li>
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 310">
                                                <g>
                                                    <path d="M81.703,165.106h33.981V305c0,2.762,2.238,5,5,5h57.616c2.762,0,5-2.238,5-5V165.765h39.064
                                                c2.54,0,4.677-1.906,4.967-4.429l5.933-51.502c0.163-1.417-0.286-2.836-1.234-3.899c-0.949-1.064-2.307-1.673-3.732-1.673h-44.996
                                                V71.978c0-9.732,5.24-14.667,15.576-14.667c1.473,0,29.42,0,29.42,0c2.762,0,5-2.239,5-5V5.037c0-2.762-2.238-5-5-5h-40.545
                                                C187.467,0.023,186.832,0,185.896,0c-7.035,0-31.488,1.381-50.804,19.151c-21.402,19.692-18.427,43.27-17.716,47.358v37.752H81.703
                                                c-2.762,0-5,2.238-5,5v50.844C76.703,162.867,78.941,165.106,81.703,165.106z" />
                                                </g>
                                            </svg>
                                        </a>
                                    </li> -->
                                <li>
                                    <a href="https://linkedin.com/davelalit">
                                        <svg fill="#000000" height="800px" width="800px" version="1.1" id="Icons"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"
                                            xml:space="preserve">
                                            <path d="M23,0H9C4,0,0,4,0,9v14c0,5,4,9,9,9h14c5,0,9-4,9-9V9C32,4,28,0,23,0z M12,25c0,0.6-0.4,1-1,1H7c-0.6,0-1-0.4-1-1V13
                                                        c0-0.6,0.4-1,1-1h4c0.6,0,1,0.4,1,1V25z M9,11c-1.7,0-3-1.3-3-3s1.3-3,3-3s3,1.3,3,3S10.7,11,9,11z M26,25c0,0.6-0.4,1-1,1h-3
                                                        c-0.6,0-1-0.4-1-1v-3.5v-1v-2c0-0.8-0.7-1.5-1.5-1.5S18,17.7,18,18.5v2v1V25c0,0.6-0.4,1-1,1h-3c-0.6,0-1-0.4-1-1V13
                                                        c0-0.6,0.4-1,1-1h4c0.3,0,0.5,0.1,0.7,0.3c0.6-0.2,1.2-0.3,1.8-0.3c3,0,5.5,2.5,5.5,5.5V25z" />
                                        </svg>
                                    </a>
                                </li>
                                <!-- <li>
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 486.392 486.392">
                                                <g>
                                                    <path d="M430.149,135.248C416.865,39.125,321.076-9.818,218.873,1.642
                                                    C138.071,10.701,57.512,76.03,54.168,169.447c-2.037,57.029,14.136,99.801,68.399,111.84
                                                    c23.499-41.586-7.569-50.676-12.433-80.802C90.222,77.367,252.16-6.718,336.975,79.313c58.732,59.583,20.033,242.77-74.57,223.71
                                                    c-90.621-18.179,44.383-164.005-27.937-192.611c-58.793-23.286-90.013,71.135-62.137,118.072
                                                    c-16.355,80.711-51.557,156.709-37.3,257.909c46.207-33.561,61.802-97.734,74.57-164.704
                                                    c23.225,14.136,35.659,28.758,65.268,31.038C384.064,361.207,445.136,243.713,430.149,135.248z" />
                                                </g>
                                            </svg>
                                        </a>
                                    </li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="team_main wow fadeIn" data-wow-delay="0.4s" data-wow-duration="1s">
                            <img class="img-fluid fill" src="https://stocksales.b-cdn.net/static%20content/assets2/images/profile2.png" alt="Image">
                            <div class="team_info">
                                <h2>Shivam Dave</h2>
                                <p>Sales & Business Development</p>
                            </div>
                            <ul class="social_share">
                                <!-- <li>
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 310">
                                                <g>
                                                    <path d="M81.703,165.106h33.981V305c0,2.762,2.238,5,5,5h57.616c2.762,0,5-2.238,5-5V165.765h39.064
                                                c2.54,0,4.677-1.906,4.967-4.429l5.933-51.502c0.163-1.417-0.286-2.836-1.234-3.899c-0.949-1.064-2.307-1.673-3.732-1.673h-44.996
                                                V71.978c0-9.732,5.24-14.667,15.576-14.667c1.473,0,29.42,0,29.42,0c2.762,0,5-2.239,5-5V5.037c0-2.762-2.238-5-5-5h-40.545
                                                C187.467,0.023,186.832,0,185.896,0c-7.035,0-31.488,1.381-50.804,19.151c-21.402,19.692-18.427,43.27-17.716,47.358v37.752H81.703
                                                c-2.762,0-5,2.238-5,5v50.844C76.703,162.867,78.941,165.106,81.703,165.106z" />
                                                </g>
                                            </svg>
                                        </a>
                                    </li> -->
                                <li>
                                    <a href="https://linkedin.com/shivamdave">
                                        <svg fill="#000000" height="800px" width="800px" version="1.1" id="Icons"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"
                                            xml:space="preserve">
                                            <path d="M23,0H9C4,0,0,4,0,9v14c0,5,4,9,9,9h14c5,0,9-4,9-9V9C32,4,28,0,23,0z M12,25c0,0.6-0.4,1-1,1H7c-0.6,0-1-0.4-1-1V13
                                                        c0-0.6,0.4-1,1-1h4c0.6,0,1,0.4,1,1V25z M9,11c-1.7,0-3-1.3-3-3s1.3-3,3-3s3,1.3,3,3S10.7,11,9,11z M26,25c0,0.6-0.4,1-1,1h-3
                                                        c-0.6,0-1-0.4-1-1v-3.5v-1v-2c0-0.8-0.7-1.5-1.5-1.5S18,17.7,18,18.5v2v1V25c0,0.6-0.4,1-1,1h-3c-0.6,0-1-0.4-1-1V13
                                                        c0-0.6,0.4-1,1-1h4c0.3,0,0.5,0.1,0.7,0.3c0.6-0.2,1.2-0.3,1.8-0.3c3,0,5.5,2.5,5.5,5.5V25z" />
                                        </svg>
                                    </a>
                                </li>
                                <!-- <li>
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 486.392 486.392">
                                                <g>
                                                    <path d="M430.149,135.248C416.865,39.125,321.076-9.818,218.873,1.642
                                                    C138.071,10.701,57.512,76.03,54.168,169.447c-2.037,57.029,14.136,99.801,68.399,111.84
                                                    c23.499-41.586-7.569-50.676-12.433-80.802C90.222,77.367,252.16-6.718,336.975,79.313c58.732,59.583,20.033,242.77-74.57,223.71
                                                    c-90.621-18.179,44.383-164.005-27.937-192.611c-58.793-23.286-90.013,71.135-62.137,118.072
                                                    c-16.355,80.711-51.557,156.709-37.3,257.909c46.207-33.561,61.802-97.734,74.57-164.704
                                                    c23.225,14.136,35.659,28.758,65.268,31.038C384.064,361.207,445.136,243.713,430.149,135.248z" />
                                                </g>
                                            </svg>
                                        </a>
                                    </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- partners end -->

<!--===== Section Six Start =====-->
<section class="ss_about_sec_five ss_section_sec_bg spacer_top spacer_bottom ss_testimonial">
    <div class="container-fluid">
        <h3 class="ss_h3_center text-center">client feedback</h3>
        <h1 class="text-center mb-4">What client says</h1>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="row">
                        <div class="col-xl-2 mt-4 offset-xl-3 col-lg-3 offset-lg-2 col-md-4 offset-md-0">
                            <div class="ss_testimonial_left wow fadeIn" data-wow-delay="0.1s"
                                data-wow-duration="1s">
                                <p><img class="img-fluid" src="https://stocksales.b-cdn.net/static%20content/assets2/images/testimonial2-img.png" alt="image" />
                                </p>
                                
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5 mt-4 col-md-8">
                            <div class="ss_testimonial_right wow fadeIn" data-wow-delay="0.1s"
                                data-wow-duration="1s">
                                <p>It is a long established fact that a reader will be distracted by the
                                    readable content of a page when looking at its layout. The point of using
                                    Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                                    opposed to using 'Content here, content here', making it look like readable
                                    English.</p>
                                <h1>Austin Clark</h1>
                                <h2>Stock Sales</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="row">
                        <div class="col-xl-2 mt-4 offset-xl-3 col-lg-3 offset-lg-2 col-md-4 offset-md-0">
                            <div class="ss_testimonial_left">
                                <p><img class="img-fluid" src="https://stocksales.b-cdn.net/static%20content/assets2/images/testimonial1-img.png" alt="image" />
                                </p>
                                
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5 mt-4 col-md-8">
                            <div class="ss_testimonial_right">
                                <p>It is a long established fact that a reader will be distracted by the
                                    readable content of a page when looking at its layout. The point of using
                                    Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                                    opposed to using 'Content here, content here', making it look like readable
                                    English. Lorem Ipsum as their default model text.</p>
                                <h1>Rachel Smith</h1>
                                <h2>Stock Sales</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}