{% extends 'base.html' %}
{% block content %}

<section class="ss_section_one">
        <div class="container-fluid">
                <!-- carousel start-->
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner rounded-sm">
                                {% if data_big_banner %}
                                <div class=" carousel-item active">
                                        <img class="d-block  w-100 "
                                                src="{{'https://'+ data_big_banner[0]['image_link'] }}"
                                                alt="First slide" style="min-height:auto; max-height:450px;">
                                </div>
                                {% endif %}
                                {% for element in data_big_banner[1:] %}
                                <div class="carousel-item">
                                        <img class="d-block w-100 " src="{{'https://'+ element['image_link'] }}"
                                                alt="Second slide" style="min-height:auto; max-height:450px;">
                                </div>
                                {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                        </a>
                </div>
        </div>
</section>

<section class="ss_section_eight ss_section_sec_bg spacer_top spacer_bottom " style="background-color: white;">
        <div class="container-fluid mb-5 mt-2">
                <div class="swiper-container">
                        <div class="swiper-wrapper">
                                {% for element in data_small_banner %}
                                <div class="swiper-slide">
                                        <div class="ss_eight ss_box_wbg wow fadeIn" data-wow-delay="0.2s"
                                                data-wow-duration="1s">
                                                <img class="img-fluid" src="{{'https://'+ element['image_link'] }}"
                                                        alt="image" title="image" />
                                        </div>
                                </div>
                                {% endfor %}
                        </div>
                </div>
                <!-- Add Pagination -->
                <!-- <div class="swiper-pagination"</div> -->
        </div>
</section> <!--===== Section Two End =====-->

<section class="ss_section_three spacer_bottom" id="services"> <!--===== Section Three Start =====-->
        <div class="container-fluid">
                <div class="row">
                        <div class="col-lg-6">
                                <div class="ss_three_left">
                                        <img class="img-fluid ss_about2"
                                                src="https://kamleshyadav.com/html/solar-supplier/html/bootstrap-5/assets/images/service.png"
                                                alt="image" />
                                        <a class="ss_video_popup" rel="external" href="#services">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                        onclick="openVideoModal()">
                                                        <g>
                                                                <path
                                                                        d="M477.606,128.055C443.431,68.863,388.251,26.52,322.229,8.83C256.208-8.862,187.25,0.217,128.055,34.394
                                                                                                                C68.861,68.57,26.52,123.75,8.83,189.772c-17.69,66.021-8.611,134.981,25.564,194.173
                                                                                                                C68.568,443.137,123.75,485.48,189.771,503.17c22.046,5.908,44.417,8.83,66.646,8.83c44.339,0,88.101-11.629,127.529-34.393
                                                                                                                c59.192-34.175,101.535-89.355,119.225-155.377C520.862,256.207,511.781,187.249,477.606,128.055z M477.429,315.333
                                                                                                                c-15.848,59.146-53.78,108.581-106.81,139.197c-53.028,30.617-114.806,38.749-173.952,22.903
                                                                                                                c-59.147-15.848-108.581-53.78-139.198-106.81c-30.616-53.028-38.749-114.807-22.9-173.954
                                                                                                                C50.418,137.523,88.35,88.09,141.379,57.472c35.325-20.395,74.524-30.812,114.249-30.812c19.91,0,39.959,2.618,59.702,7.909
                                                                                                                c59.146,15.848,108.581,53.78,139.197,106.81C485.144,194.408,493.278,256.186,477.429,315.333z" />
                                                        </g>
                                                        <g>
                                                                <path
                                                                        d="M378.778,231.852l-164.526-94.99c-8.731-5.041-19.155-5.039-27.886-0.001c-8.731,5.04-13.944,14.069-13.944,24.15v189.98
                                                                                                                c0,10.081,5.212,19.109,13.944,24.15c4.365,2.521,9.152,3.78,13.941,3.78c4.79,0,9.579-1.262,13.944-3.781l164.528-94.989
                                                                                                                c8.73-5.042,13.941-14.07,13.941-24.151C392.72,245.92,387.508,236.892,378.778,231.852z M365.452,257.074l-164.527,94.989
                                                                                                                c-0.201,0.117-0.62,0.358-1.236,0c-0.618-0.357-0.618-0.839-0.618-1.071v-189.98c0-0.232,0-0.714,0.618-1.071
                                                                                                                c0.242-0.14,0.453-0.188,0.633-0.188c0.28,0,0.482,0.117,0.605,0.188l164.526,94.99c0.201,0.116,0.618,0.357,0.618,1.071
                                                                                                                C366.071,256.716,365.652,256.958,365.452,257.074z" />
                                                        </g>
                                                        <g>
                                                                <path
                                                                        d="M413.303,134.44c-31.689-40.938-79.326-68.442-130.698-75.461c-7.283-0.997-14.009,4.106-15.006,11.399
                                                                                                                c-0.995,7.291,4.108,14.009,11.399,15.006c44.512,6.081,85.783,29.909,113.232,65.369c2.626,3.392,6.565,5.168,10.546,5.168
                                                                                                                c2.849,0,5.72-0.909,8.146-2.789C416.741,148.628,417.807,140.259,413.303,134.44z" />
                                                        </g>
                                                </svg></a>
                                </div>
                        </div>
                        <div class="col-lg-6 align-self-center">
                                <div class="ss_three_right wow fadeIn" data-wow-delay="0.1s">
                                        <h3>Services</h3>
                                        <h1>We provide awesome services</h1>
                                        <p style="padding-bottom: 20px;">“We offer exceptional services that exceed
                                                expectations and
                                                leave our clients satisfied. Our commitment to excellence drives us to
                                                go above and beyond,
                                                ensuring that every interaction with our team is a positive and
                                                memorable one. Whether it’s
                                                personalized customer support, innovative solutions, or timely delivery,
                                                we take pride in
                                                providing nothing less than the best. Our clients can trust us to
                                                deliver on our promise of
                                                awesome services, making their experience truly remarkable.”</p>
                                        <a href="{{url_for('about')}}" class="ss_btn">More Services</a>
                                </div>
                        </div>
                </div>
        </div>
</section>

<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
                <div class="modal-content">
                        <div class="modal-body">
                                <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" id="videoPlayer" allowfullscreen></iframe>
                                </div>
                        </div>
                </div>
        </div>
</div>
<!-- ----------------------------------------------- -->
<section class="ss_section_four spacer_top spacer_bottom"> <!--===== Section Four Start =====-->
        <div class="container-fluid">
                <div class="row">
                        <div class="col-lg-6 align-self-center">
                                <div class="ss_five_right wow fadeIn" data-wow-delay="0.1s">
                                        <h3>product demo</h3>
                                        <h1>We are here to give you the best solar panel for your home</h1>
                                        <p style="padding-bottom: 20px;">“We understand the importance of product demos
                                                for our
                                                customers. Our demo sessions are designed to provide a comprehensive
                                                overview of our
                                                product’s features and functionalities. During the demo, our experts
                                                walk you through the
                                                product interface, demonstrate key workflows, and showcase real-world
                                                use cases. Whether
                                                you’re a new user exploring our product or an existing customer looking
                                                to maximize its
                                                potential, our product demo ensures that you gain valuable insights and
                                                hands-on experience.
                                                Join us for an informative and interactive demo to unlock the full
                                                potential of our
                                                solution.”</p>
                                        <!-- <a href="#" class="ss_btn">Purchase Now</a> -->
                                </div>
                        </div>
                        <div class="col-lg-6 align-self-center">
                                <div class="ss_four_right">
                                        <img class="img-fluid ss_four_shadow"
                                                src="https://kamleshyadav.com/html/solar-supplier/html/bootstrap-5/assets/images/safe.png"
                                                alt="image" title="image" />
                                </div>
                        </div>

                </div>
        </div>
</section>

<section class="ss_section_eight ss_section_sec_bg spacer_top spacer_bottom"> <!--===== Section Eight Start =====-->
        <div class="container-fluid">
                <h3 class="ss_h3_center text-center">Top Products</h3>
                <h1 class="text-center mb-5">Most Sales</h1>
                <div class="swiper-container swiper-container-horizontal">
                        <div class="swiper-wrapper"
                                style="transform: translate3d(-2516.67px, 0px, 0px); transition-duration: 0ms;">
                                {% if data_top_product is iterable %}

                                {% for i in data_top_product %}
                                {% if i %}

                                <div class="swiper-slide" data-swiper-slide-index="0"
                                        style="width: 473.333px; margin-right: 30px;">
                                        <div class="ss_six_product wow fadeIn " data-wow-delay="0.1s"
                                                data-wow-duration="2s"
                                                style="visibility: hidden; animation-duration: 2s; animation-delay: 0.1s; animation-name: none;">
                                                <a href="{{url_for('productdetails',prod_id=i['_id'])}}">
                                                        <div class="ss_six_p_img ss_box_bg">
                                                                <img class="img-fluid"
                                                                        src="{{'https://'+ i['photos1'] }}" alt="image">
                                                        </div>
                                                        <div class="ss_product_content ss_box_bg">
                                                                <h2 style="font-size:x-large;">
                                                                        <b>{{i['name']}}</b>
                                                                </h2>
                                                                <b>
                                                                        <p class="pt-2">₹{{i['price']}}</p>
                                                                </b>
                                                        </div>
                                                </a>
                                        </div>
                                        {% endif %}

                                </div>
                                {% endfor %}
                                {% endif %}

                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
        </div>
</section>

<div class="ss_section_eight solar_partner_section wow fadeInUp" data-wow-delay="0.3s"
        style="visibility: hidden; animation-delay: 0.3s; animation-name: none;">
        <h3 class="ss_h3_center text-center">Our Clients</h3>
        <h1 class="text-center">Partners</h1>
        <div class="container">
                <div class="row">
                        <div class="col-12">
                                <!-- Swiper -->
                                <div class="swiper-container swiper-container-horizontal">
                                        <div class="swiper-wrapper"
                                                style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-active"
                                                        data-swiper-slide-index="5"
                                                        style="width: 182px; margin-right: 50px;"><img
                                                                src="https://stocksales.b-cdn.net/static%20content/assets2/images/testinomial 6.png"
                                                                alt="solar-installation-partner-6">
                                                </div>
                                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-next"
                                                        data-swiper-slide-index="6"
                                                        style="width: 182px; margin-right: 50px;"><img
                                                                src="https://stocksales.b-cdn.net/static%20content/assets2/images/testinomial 7.png"
                                                                alt="solar-installation-partner-7">
                                                </div>
                                                <div class="swiper-slide swiper-slide-duplicate"
                                                        data-swiper-slide-index="7"
                                                        style="width: 182px; margin-right: 50px;"><img
                                                                src="https://stocksales.b-cdn.net/static%20content/assets2/images/testinomial 8.png"
                                                                alt="solar-installation-partner-8">
                                                </div>
                                                <div class="swiper-slide" data-swiper-slide-index="0"
                                                        style="width: 182px; margin-right: 50px;"><img
                                                                src="https://stocksales.b-cdn.net/static%20content/assets2/images/testinomial 1.png"
                                                                alt="solar-installation-partner1">
                                                </div>
                                                <div class="swiper-slide" data-swiper-slide-index="1"
                                                        style="width: 182px; margin-right: 50px;"><img
                                                                src="https://stocksales.b-cdn.net/static%20content/assets2/images/testinomial 2.png"
                                                                alt="solar-installation-partner-2">
                                                </div>
                                                <div class="swiper-slide" data-swiper-slide-index="2"
                                                        style="width: 182px; margin-right: 50px;"><img
                                                                src="https://stocksales.b-cdn.net/static%20content/assets2/images/testinomial 3.png"
                                                                alt="solar-installation-partner-3">
                                                </div>
                                                <div class="swiper-slide" data-swiper-slide-index="3"
                                                        style="width: 182px; margin-right: 50px;"><img
                                                                src="https://stocksales.b-cdn.net/static%20content/assets2/images/testinomial 4.png"
                                                                alt="solar-installation-partner-4">
                                                </div>
                                                <div class="swiper-slide" data-swiper-slide-index="4"
                                                        style="width: 182px; margin-right: 50px;"><img
                                                                src="https://stocksales.b-cdn.net/static%20content/assets2/images/testinomial 5.png"
                                                                alt="solar-installation-partner-5">
                                                </div>
                                                <div class="swiper-slide" data-swiper-slide-index="5"
                                                        style="width: 182px; margin-right: 50px;"><img
                                                                src="https://stocksales.b-cdn.net/static%20content/assets2/images/testinomial 6.png"
                                                                alt="solar-installation-partner-6">
                                                </div>
                                                <div class="swiper-slide" data-swiper-slide-index="6"
                                                        style="width: 182px; margin-right: 50px;"><img
                                                                src="https://stocksales.b-cdn.net/static%20content/assets2/images/testinomial 7.png"
                                                                alt="solar-installation-partner-7">
                                                </div>
                                                <div class="swiper-slide" data-swiper-slide-index="7"
                                                        style="width: 182px; margin-right: 50px;"><img
                                                                src="https://stocksales.b-cdn.net/static%20content/assets2/images/testinomial 8.png"
                                                                alt="solar-installation-partner-8">
                                                </div>
                                                <div class="swiper-slide swiper-slide-duplicate"
                                                        data-swiper-slide-index="0"
                                                        style="width: 182px; margin-right: 50px;"><img
                                                                src="https://stocksales.b-cdn.net/static%20content/assets2/images/testinomial 1.png"
                                                                alt="solar-installation-partner1">
                                                </div>
                                                <div class="swiper-slide swiper-slide-duplicate"
                                                        data-swiper-slide-index="1"
                                                        style="width: 182px; margin-right: 50px;"><img
                                                                src="https://stocksales.b-cdn.net/static%20content/assets2/images/testinomial 2.png"
                                                                alt="solar-installation-partner-2">
                                                </div>
                                                <div class="swiper-slide swiper-slide-duplicate"
                                                        data-swiper-slide-index="2"
                                                        style="width: 182px; margin-right: 50px;"><img
                                                                src="https://stocksales.b-cdn.net/static%20content/assets2/images/testinomial 3.png"
                                                                alt="solar-installation-partner-3">
                                                </div>
                                        </div>
                                        <span class="swiper-notification" aria-live="assertive"
                                                aria-atomic="true"></span><span class="swiper-notification"
                                                aria-live="assertive" aria-atomic="true"></span>
                                </div>
                        </div>
                </div>
        </div>
</div>

<section class="ss_section_eight ss_section_sec_bg spacer_top spacer_bottom"> <!--===== Section Eight Start =====-->
        <div class="container-fluid">
                <h3 class="ss_h3_center text-center">Blog Posts</h3>
                <h1 class="text-center mb-5">Latest news</h1>
                <div class="swiper-container swiper-container-horizontal">
                        <div class="swiper-wrapper"
                                style="transform: translate3d(-2516.67px, 0px, 0px); transition-duration: 0ms;">
                                {% for element in data_blog %}
                                <div class="swiper-slide" data-swiper-slide-index="0"
                                        style="width: 473.333px; margin-right: 30px;">
                                        <div class="ss_eight ss_box_wbg wow fadeIn" data-wow-delay="0.1s"
                                                data-wow-duration="1s"
                                                style="visibility: hidden; animation-duration: 1s; animation-delay: 0.1s; animation-name: none;">
                                                <a href="{{url_for('blogDetails',blog_id=element['_id'])}}"><img
                                                                class="img-fluid"
                                                                src="{{'https://'+ element['image_link'] }}" alt="image"
                                                                title="image"></a>
                                                <div class="ss_product_content ss_box_bg">
                                                        <h2> {{ element['heading'] }}
                                                                <span>
                                                                        {{ element['date'] }}
                                                                </span>
                                                        </h2>
                                                </div>
                                        </div>
                                </div>
                                {% endfor %}
                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
        </div>
</section>


{#

<hr>
<form method="POST">
        {{ form.hidden_tag() }}
        <label>{{ form.name.label }}</label>{{ form.name() }}
        <label>{{ form.number.label }}</label>{{ form.number() }}
        <label>{{ form.email.label }}</label>{{ form.email() }}
        <label>{{ form.ameb.label }}</label>{{ form.ameb() }}
        <label>{{ form.pincode.label }}</label>{{ form.pincode() }}
        {{ form.submit() }}
</form>

<hr>
<hr>
<form method="POST">
        {{ form2.hidden_tag() }}
        <label>{{ form2.name.label }}</label>{{ form2.name() }}
        <label>{{ form2.number.label }}</label>{{ form2.number() }}
        <label>{{ form2.email.label }}</label>{{ form2.email() }}
        <label>{{ form2.ameb.label }}</label>{{ form2.ameb() }}
        <label>{{ form2.pincode.label }}</label>{{ form2.pincode() }}
        <label>{{ form2.companyName.label }}</label>{{ form2.companyName() }}
        {{ form2.submit() }}
</form>
#}
{% endblock %}