body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    max-width: 1500px; /* Set max-width here */
}

input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.file-input-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 15px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
.file-input-container input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
.file-input-label {
    display: inline-block;
    margin-right: 10px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
.admin-nav{
    /* background-color: #000000; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
}
.common-button{
    width:fit-content;
    background-color: #31363F ;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    font-weight: 600;
    cursor: pointer;
    color: white;
}

.button-active{
    background-color: #000000 !important;
}
.admin-button{
 
    background-color: #FF204E ;
    color: white;
    font-weight: 700;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin: 0 5px;

}
.common-image{
    height: 50px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid rgb(235, 235, 235);
    padding: 20px 20px;
    text-align: start;

}
td , li{
    list-style: underline;
}
th {
    background-color: #545454;
    color: white;
}
.centered-div {
        margin: 0 auto;
        width: 50%; /* Adjust width as needed */
        border: 1px solid black; /* Add border */
        padding: 20px; /* Optional: Add padding for better spacing */
        border-radius: 15px;
        margin-top: 50px;
        margin-bottom: 50px;

    }
.form-border{
    border : 1px solid grey;
    padding: 10px;
    flex-direction: row;
    padding: 10px;

}