{% extends "Admin_base.html" %}
{% block content %}

<table>
        <thead>
          <tr>

            <th>Name</th>
            <th>Email</th>
            <th>Number</th>
            <th>Subject</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          {% set grouped_data = data|groupby('date') %}
          {% for date, elements in grouped_data|reverse %}
              <tr><td colspan="7">{{ date }}</td></tr>
              {% for element in elements|reverse %}
              <tr>

                  <td>{{ element.name }}</td>
                  <td>{{ element.email }}</td>            
                  <td>{{ element.number }}</td>            
                  <td>{{ element.subject }}</td>            
                  <td>{{ element.message }}</td>            

              </tr>
              {% endfor %}
          {% endfor %}  </tbody>
      </table>
      

{% endblock content %}